body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease;
    background-color: #f8f9fa;
}

.nav-center {
    text-align: center;
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    color: #468bc7;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a:hover {
    color: #f15025;
}

h4 {
    color: #5287b5;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    
}

h2 {
    color: #70507f;
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 700;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #a6a4a3;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-left: 50px;
}